{% ckan_extends %}

{% block footer_content %}

<link href="https://cdn.lynxor.io/plugins/FontAwesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<section id="shortcuts">
    <div class="container">
        <div class="row">
            <div class="span4">
                <aside id="nav_menu-5" class="widget widget_nav_menu"><div class="widget-title" style="font-size: 16px;">Digital Wallonia</div><div class="menu-digital-wallonia-container"><ul id="menu-digital-wallonia" class="menu" style="font-size: 16px; list-style: none; margin: 0;"><li id="menu-item-93682" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93682"><a style="color: rgb(25, 149, 198);" href="https://www.digitalwallonia.be/plateforme-pour-la-wallonie-numerique/">Plateforme pour la Wallonie numérique</a></li>
                    <li id="menu-item-93683" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-93683"><a style="color: rgb(25, 149, 198);" href="/events">Agenda de la Wallonie numérique</a></li>
                    <li id="menu-item-110512" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-110512"><a style="color: rgb(25, 149, 198);" href="https://www.digitalwallonia.be">Digital Wallonia</a></li>
                </ul></div></aside>						<aside id="social">
                <ul class="list-inline" style="font-size: 14px; list-style: none; margin: 0;">
                    <li style="display: inline-block;"><a href="https://twitter.com/digitalwallonia" target="_blank"><span class="fa-stack fa-lg">
<i class="fa fa-circle fa-stack-2x"></i>
<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
</span>
                    </a></li>
                    <li style="display: inline-block;"><a href="https://www.facebook.com/digitalwallonia" target="_blank"><span class="fa-stack fa-lg">
<i class="fa fa-circle fa-stack-2x"></i>
<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
</span>
                    </a></li>
                    <li style="display: inline-block;"><a href="https://www.youtube.com/?pageId=110238138354784022718" target="_blank"><span class="fa-stack fa-lg">
<i class="fa fa-circle fa-stack-2x"></i>
<i class="fa fa-youtube-play fa-stack-1x fa-inverse"></i>
</span>
                    </a></li>
                    <li style="display: inline-block;"><a href="https://www.pinterest.com/digitalwallonia/" target="_blank"><span class="fa-stack fa-lg">
<i class="fa fa-circle fa-stack-2x"></i>
<i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
</span>
                    </a></li>
                    <li style="display: inline-block;"><a href="https://www.slideshare.net/awt/" target="_blank"><span class="fa-stack fa-lg">
<i class="fa fa-circle fa-stack-2x"></i>
<i class="fa fa-slideshare fa-stack-1x fa-inverse"></i>
</span>
                    </a></li>
                    <li style="display: inline-block;"><a href="https://soundcloud.com/digitalwallonia" target="_blank"><span class="fa-stack fa-lg">
<i class="fa fa-circle fa-stack-2x"></i>
<i class="fa fa-soundcloud fa-stack-1x fa-inverse"></i>
</span>
                    </a></li>
                    <li style="display: inline-block;"><a href="https://www.digitalwallonia.be/feed/" target="_blank"><span class="fa-stack fa-lg">
<i class="fa fa-circle fa-stack-2x"></i>
<i class="fa fa-rss fa-stack-1x fa-inverse"></i>
</span>
                    </a></li>
                </ul>
            </aside>
            </div><!-- /.col -->
            <div class="span4">
                <aside id="nav_menu-6" class="widget widget_nav_menu"><div class="widget-title" style="font-size: 16px;">Plan du numérique pour la Wallonie</div><div class="menu-plan-du-numerique-pour-la-wallonie-container"><ul id="menu-plan-du-numerique-pour-la-wallonie" class="menu" style="font-size: 16px; list-style: none; margin: 0;"><li id="menu-item-93678" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93678"><a style="color: rgb(25, 149, 198);" href="https://www.digitalwallonia.be/plan-du-numerique/assises-et-printemps-du-numerique/">Assises et Printemps du Numérique</a></li>
                    <li id="menu-item-93677" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93677"><a style="color: rgb(25, 149, 198);" href="https://www.digitalwallonia.be/plan-du-numerique/">Plan du numérique</a></li>
                    <li id="menu-item-93679" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93679"><a style="color: rgb(25, 149, 198);" href="https://www.digitalwallonia.be/plan-du-numerique/conseil-du-numerique/">Conseil du Numérique</a></li>
                    <li id="menu-item-93681" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93681"><a style="color: rgb(25, 149, 198);" href="https://www.digitalwallonia.be/plan-du-numerique/ministre-du-numerique/">Ministre du Numérique</a></li>
                </ul></div></aside>
            </div><!-- /.col -->
            <div class="span4">
                <aside id="nav_menu-7" class="widget widget_nav_menu"><div class="widget-title" style="font-size: 16px;">Communautés et grappes</div><div class="menu-communautes-et-grappes-container"><ul id="menu-communautes-et-grappes" class="menu" style="font-size: 16px; list-style: none; margin: 0;"><li id="menu-item-93685" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-93685"><a style="color: rgb(25, 149, 198);" href="/secteur-numerique/?post_type=profil">Secteur du numérique</a></li>
                    <li id="menu-item-93686" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-93686"><a style="color: rgb(25, 149, 198);" href="?post_type=profil&amp;ecommerce=accessoires,alimentation,amenagement,animaux,beaute,bienetre,boissons,brico,cadeaux,cinema,culture,deco,electricite,electromenager,electronique,emploi,entretien,hebergement,horeca-tourisme,informatique,jardin,jeux,livres,location,loisirs,cuisine,mecanique,mobilier,mode,multimedia,musique,papeterie,pharmacie,services,galeries,presse,produits,professionnels,fidelisation,rencontres,restaurants,sante,ict,spectacles,sport,taxi,vacances,transport,vente,vetements,vue-audition">Secteur de l’e-commerce</a></li>
                    <li id="menu-item-93687" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-93687"><a style="color: rgb(25, 149, 198);" href="/education/ecoles-numeriques/">Ecoles numériques</a></li>
                    <li id="menu-item-112980" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-112980"><a style="color: rgb(25, 149, 198);" href="https://www.digitalwallonia.be/club-pme-2-0/">#pme20</a></li>
                    <li id="menu-item-112978" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-112978"><a style="color: rgb(25, 149, 198);" href="https://www.digitalwallonia.be/mforum/">#mforum</a></li>
                    <li id="menu-item-112979" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-112979"><a style="color: rgb(25, 149, 198);" href="https://www.digitalwallonia.be/edtechforum/">#edtechforum</a></li>
                </ul></div></aside>
            </div><!-- /.col -->
        </div><!-- /#shortcuts -->
    </div><!-- /.container -->
</section>
<section id="institutions">
    <div class="container">
        <div class="row">
            <div class="span4">
                <aside id="nav_menu-2" class="widget widget_nav_menu"><div class="widget-title" style="font-size: 16px;">Agence du Numérique</div><div class="menu-footer-adn-container"><ul id="menu-footer-adn" class="menu" style="font-size: 16px; list-style: none; margin: 0;"><li id="menu-item-48508" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-48508"><a style="color: rgb(25, 149, 198);" href="https://www.digitalwallonia.be/qui-sommes-nous/">Qui sommes-nous ?</a></li>
                    <li id="menu-item-93655" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-93655"><a style="color: rgb(25, 149, 198);" href="https://www.digitalwallonia.be/contact/">Nous contacter</a></li>
                    <li id="menu-item-48496" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-48496"><a style="color: rgb(25, 149, 198);" href="https://www.digitalwallonia.be/mentions-legales/">Mentions légales et vie privée</a></li>
                </ul></div></aside><aside id="text-2" class="widget widget_text">			<div class="textwidget"><p>Avenue Prince de Liège, 133<br>
                5100 Jambes<br>
                tel +32 (0)81 77 80 80<br>
                info@digitalwallonia.be</p>
            </div>
            </aside>					</div><!-- /.col -->
            <div class="span4">
                <aside id="nav_menu-3" class="widget widget_nav_menu"><div class="widget-title" style="font-size: 16px;">Agence pour l’Entreprise &amp;  l’Innovation</div><div class="menu-footer-aei-container"><ul id="menu-footer-aei" class="menu" style="font-size: 16px; list-style: none; margin: 0;"><li id="menu-item-48509" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48509"><a style="color: rgb(25, 149, 198);" href="http://www.aei.be">aei.be</a></li>
                    <li id="menu-item-93659" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-93659"><a style="color: rgb(25, 149, 198);" href="http://www.infos-entreprises.be">infos-entreprises.be</a></li>
                    <li id="menu-item-93675" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-93675"><a style="color: rgb(25, 149, 198);" href="http://www.innovons.be">innovons.be</a></li>
                    <li id="menu-item-48502" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48502"><a style="color: rgb(25, 149, 198);" href="http://www.ct.innovons.be/">Chèques Technologiques</a></li>
                    <li id="menu-item-48510" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48510"><a style="color: rgb(25, 149, 198);" href="http://www.creativewallonia.be/">Creative Wallonia</a></li>
                    <li id="menu-item-117074" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-117074"><a style="color: rgb(25, 149, 198);" href="https://www.digitalwallonia.be/aides-e-business-en-wallonie/">Aides e-business en Wallonie</a></li>
                </ul></div></aside>
            </div><!-- /.col -->
            <div class="span4">
                <aside id="nav_menu-4" class="widget widget_nav_menu"><div class="widget-title" style="font-size: 16px;">Wallonie</div><div class="menu-footer-wallonie-container"><ul id="menu-footer-wallonie" class="menu" style="font-size: 16px; list-style: none; margin: 0;"><li id="menu-item-48498" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-48498"><a style="color: rgb(25, 149, 198);" href="http://www.wallonie.be/">Wallonie.be</a></li>
                    <li id="menu-item-93657" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-93657"><a style="color: rgb(25, 149, 198);" href="http://gouvernement.wallonie.be/">Gouvernement Wallon</a></li>
                    <li id="menu-item-93676" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-93676"><a style="color: rgb(25, 149, 198);" href="http://parlement.wallonie.be">Parlement Wallon</a></li>
                    <li id="menu-item-93658" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-93658"><a style="color: rgb(25, 149, 198);" href="http://www.wallonie.be/fr/mediateur">Médiateur</a></li>
                    <li id="menu-item-93669" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-93669"><a style="color: rgb(25, 149, 198);" href="http://www.federation-wallonie-bruxelles.be/">Fédération Wallonie-Bruxelles</a></li>
                </ul></div></aside>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>
<section id="partners">
    <div class="container">
        <div class="row">
            <div class="span6">
                <img src="https://www.digitalwallonia.be/wp-content/themes/digitalwallonia/img/AdN-Color-WHITE.png" alt="Agence du Numérique">
            </div>
            <div class="span2 offset4">
                <img src="https://www.digitalwallonia.be/wp-content/themes/digitalwallonia/img/Wallonie-WHITE.png" alt="Wallonie">
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

{% endblock %}