

/* CKAN Patches */
.homepage [role=main] {
    min-height: 0;
}



/* line 16, sass/_navbar.scss */
#header-main {
  /*-----NAVBAR----*/
    background: #262626
}
@media only screen and (max-width: 479px) {
  /* line 19, sass/_navbar.scss */
  #header-main .top-header aside#baseline {
    text-align: center;
  }
}
/* line 24, sass/_navbar.scss */
#header-main .top-header aside#social {
  text-align: center;
}
/* line 27, sass/_navbar.scss */
#header-main .top-header aside#langues {
  text-align: right;
}
@media only screen and (max-width: 479px) {
  /* line 27, sass/_navbar.scss */
  #header-main .top-header aside#langues {
    text-align: center;
  }
}
/* line 32, sass/_navbar.scss */
#header-main .top-header aside#langues ul > li {
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.4s ease 0s;
}
/* line 41, sass/_navbar.scss */
#header-main .navbar, #header-main .navbar-default {
  box-shadow: none;
}
/* line 45, sass/_navbar.scss */
#header-main .navbar {
  border-bottom: 5px solid #0F82C2;
  font-family: "source-sans-pro", sans-serif;
  font-size: large;
}
/* line 49, sass/_navbar.scss */
#header-main .navbar li {
  font-weight: 600;
}
/* line 78, sass/_navbar.scss */
#header-main .navbar li:hover {
  -webkit-transition: "all", 0.3s;
  -o-transition: "all", 0.3s;
  transition: "all", 0.3s;
}
/* line 82, sass/_navbar.scss */
#header-main .navbar #searchform {
  position: relative;
  float: right;
  margin-left: 10px;
  padding: 5px 10px;
  margin-top: 33px;
  margin-bottom: 33px;
}
/* line 91, sass/_navbar.scss */
#header-main .navbar .side-collapse {
  position: absolute;
  top: 0px;
  bottom: 0;
  right: 0;
  width: 200px;
  overflow: hidden;
  transition: width .4s;
  margin-right: -2px;
}
/* line 101, sass/_navbar.scss */
#header-main .navbar .side-collapse.in {
  width: 0;
}
/* line 104, sass/_navbar.scss */
#header-main .navbar .side-collapse.out {
  width: 53em;
}
/* line 106, sass/_navbar.scss */
#header-main .navbar .side-collapse.out .form-control {
  border: none;
}
/* line 110, sass/_navbar.scss */
#header-main .navbar button.navbar-no-toggle {
  right: 0;
}
/* line 113, sass/_navbar.scss */
#header-main .navbar button.navbar-no-toggle,
#header-main .navbar .search-form button.btn {
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0px;
  color: #252628;
  font-size: 16px;
}

/* -----FOOTER*/
/* line 146, sass/_general.scss */
footer.site-footer {
  color: #E5E5E5;
  background-color: #52535B;
}

footer.site-footer>.container {
    width: inherit
}

/* line 148, sass/_general.scss */
footer.site-footer ul.menu > li {
  border-bottom: 1px solid #52535B;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  /* line 153, sass/_general.scss */
  footer.site-footer [class*="col-"] {
    padding-top: 20px;
  }
}
/* line 158, sass/_general.scss */
footer.site-footer aside {
  margin-bottom: 20px;
}
/* line 159, sass/_general.scss */
footer.site-footer aside .widget-title {
  font-weight: bold;
  padding-bottom: 10px;
}
/* line 165, sass/_general.scss */
footer.site-footer aside#social li {
  padding: 0;
}
/* line 167, sass/_general.scss */
footer.site-footer aside#social li:first {
  padding-left: 5px;
}
/* line 171, sass/_general.scss */
footer.site-footer aside#social a {
  color: #444;
}
/* line 176, sass/_general.scss */
footer.site-footer section {
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 179, sass/_general.scss */
footer.site-footer section#shortcuts {
  background-color: #52535B;
}
/* line 181, sass/_general.scss */
footer.site-footer section#shortcuts ul.menu > li {
  border-bottom-color: #666;
}
/* line 185, sass/_general.scss */
footer.site-footer section#institutions {
  background-color: #3D3E44;
}
/* line 189, sass/_general.scss */
footer.site-footer section#partners {
  background-color: #343538;
}
/* line 191, sass/_general.scss */
footer.site-footer section#partners img {
  max-width: 100%;
}
/* line 194, sass/_general.scss */
footer.site-footer section#partners [class*="-offset"] {
  text-align: right;
}
@media only screen and (max-width: 767px) {
  /* line 189, sass/_general.scss */
  footer.site-footer section#partners {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
  }
  /* line 201, sass/_general.scss */
  footer.site-footer section#partners [class*="-offset"] {
    text-align: center;
  }
}

.header .archive-title,
.header .home-title {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
@media only screen and (max-width: 991px) {
  /* line 262, sass/_general.scss */
  .header .archive-title,
  .header .home-title {
    font-size: large;
  }
}
@media only screen and (min-width: 992px) {
  /* line 262, sass/_general.scss */
  .header .archive-title,
  .header .home-title {
    font-size: 2em;
  }
}
/* line 274, sass/_general.scss */
.header .home-title {
  line-height: 2.1em;
}